* {
  padding: 0;
  margin: 0;
  
  /* свойство для плавности всевозможных
  переходов и анимаций */
  transition: 0.3s linear;

  /* для плавных якорей */
  scroll-behavior: smooth;
}

html {
  font-size: 0;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
 }
