@media (min-width: 480px) {
    .container {
        width: 100%;
    }
    
    .col-tablet-4 {
        width: 100%;
    }

    .col-tablet-3 {
        width: 75%;
    }

    .col-tablet-2 {
        width: 50%;
    }

    .col-tablet-1 {
        width: 25%;
    }

    .tablet-align-center {
        text-align: center;
    }

    .tablet-margin-center {
        margin: 0 auto;
    }
}